@model CommentViewModel

@{
}



<span id="IsAuthenticated" style="display: none; overflow: hidden;">@User.Identity.IsAuthenticated</span>

@*<div class="modal-window" id="modal">*@



<div class="send-comment">
    @*<h1 class="comments-title">Комментарии</h1>*@
    <form method="post" asp-controller="Feed" asp-action="Comment"> 

        <div class="input-wrapper">
            <input asp-for="PostId" type="hidden" />
            <input asp-for="MainCommentId" type="hidden"/>
            <input asp-for="Author" type="hidden" value="@User.Identity.Name"/>
       @* <input asp-for="PostId" type="hidden" value="@Model.PostId"/>
         <input asp-for="MainCommentId" type="hidden" />
            <input asp-for="LikesCount" type="hidden" />
            <input asp-for="DislikesCount" type="hidden" />
            <input asp-for="Author" type="hidden"/> *@

        <textarea asp-for="Message" oninput="auto_grow(this)" placeholder="Введите комментарий" id="comment-textarea"></textarea>
        @*<textarea asp-for="Message" placeholder="Введите комментарий" id="comment-textarea"></textarea>*@
        </div>
        <div class="button-wrapper">
        <div class="popup">
            @*<button id="closeModal"></button>*@
            <div class="popuptext" id="myPopup">
                <p>Авторизуйтесь, чтобы оставить комментарий</p>
                @*Авторизуйтесь, чтобы оставить комментарий*@
                <a asp-action="Login" asp-controller="Auth">Вход</a>

                    @* <input asp-for="Author" type="hidden" value="@User"/> *@
            </div>
        </div>
        <button type="submit" id="send-comment-but">Отправить</button>
        </div>
    </form>
</div>
