

@model PostViewModel 


    <!--получаем доступ к классу Post (который является моделью)-->

@{

    //var UserName = Context.User.ToString();
    var UserName = Context.User.Identity?.Name;
} <!--Чтобы IntelliSense не ругалась, лучше всегда добавлять эту штуку-->
<link href="~/css/Edit.css" rel="stylesheet" />
<link href="~/lib/trumbowyg-main/dist/ui/trumbowyg.min.css" rel="stylesheet" />

<div class="edit">
    <h1>Создание поста</h1>

    <!--При отправке файла обязательно указывать шифрование-->
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <!-- Указываем метод Edit контроллера Home, этот метод сработает при взаимодействии с формой, мы отправляем ему данные с формы-->
        <input asp-for="Id" type="hidden" /> <!--Сможем увидеть Id через инструменты разработчика в браузере-->
        <div class="input-container">
            <label>Заголовок</label>
            <input asp-for="Title"/>
        </div>
@*        <div class="input-container-description">*@
        <div class="input-container" id="description">
            <label>Описание</label>
            <textarea asp-for="Description"></textarea> <!--Указываем в какое свойство модели будет происходить запись из поля input (в какое поле БД)-->
        </div> 
        <div class="input-container" id="tags">
            <label>Теги</label>
            <textarea asp-for="Tags"></textarea> <!--Указываем в какое свойство модели будет происходить запись из поля input (в какое поле БД)-->
        </div>
        <div class="themes">
            <label>Тема</label>
            <select asp-for="Category">
                <option value="Travel">Путешествия</option>
                <option value="Programing">Программирование</option>
                <option value="Photography">Фотография</option>
            </select>
        </div>
        <div class="main-text">
            <label>Содержимое</label>
            <textarea id="editor" asp-for="Body"></textarea>
        </div>
        <div class="buttons">
            <label>Изображение</label>
            <input asp-for="CurrentImage" type="hidden"/>
            <input asp-for="Image" id="image_but" />
        </div>
        <input type="submit" value="Подтвердить отправку"/>
        
        @*Чтобы система могла связать параметры метода и данные формы, необходимо,
        чтобы атрибуты name у полей формы соответствовали названиям параметров.*@
    </form>
</div>

@section scripts {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/trumbowyg-main/dist/trumbowyg.min.js"></script>
    <script>$('#editor').trumbowyg();

       // . - class
       // # - id
       // nav - html element
    </script>
}

@*        @if (User.Identity.IsAuthenticated)
        {
            <p asp-for="Author" type="hidden">@UserName</p>
        }*@