<!--получаем на вход последовательность объектов Post -->
@model IEnumerable<Post>
@{

}

<link href="~/css/Panel.css" rel="stylesheet" />

<div class="panel">
    <div class="header">
        <h1>Панель администратора</h1>
        <a asp-controller="Panel" asp-action="Edit">Создать новую запись</a>
    </div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <div class="li-wrapper_record">
                        @post.Title
                    @post.Author
                </div>
                <div class="li-buttons-wrapper">
                        <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                            Редактировать
                        </a>
                        <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                            Удалить
                        </a>
                </div>

            </li>
        }
</ul>
</div>
