
@model IEnumerable<Post>

@{
    var UserName = Context.User.Identity.Name;
}
<!--получаем на вход последовательность объектов Post -->

<link href="~/css/UserProfile.css" rel="stylesheet" />

<div class="user-profile">
    <div class="header">
        <h1>@UserName</h1>
        <a asp-controller="Panel" asp-action="Edit">Создать новую запись</a>
    </div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <div class="li-wrapper_record">
                        @post.Title
                </div>
                <div class="li-buttons-wrapper">
                        <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                            Редактировать
                        </a>
                        <a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                            Удалить
                        </a>
                </div>

            </li>
        }
</ul>
</div>
</div>