@model RegisterViewModel

@{
}

<link href="~/css/Register.css" rel="stylesheet" />
<div class="register-body">
    <div class="ramka">
        <div class="form-wrapper">
            <div class="h1-wrapper">Регистрация</div>

            <form class="sign-in-form" asp-controller="Auth" asp-action="Register" method="post">
                <div class="form-input-container">
                    <input asp-for="Username" class="name"
                        name="username" placeholder="Имя пользователя" />
                    @*<div class="errors" style="color: red"></div>*@
                    <span asp-validation-for="Username"></span>

                    <input asp-for="Email" class="email"
                        name="email" placeholder="Эл. почта" />
@*                    <div class="errors" style="color: red"></div>
*@                    <span asp-validation-for="Email"></span>

                    <input asp-for="Password" class="pas"
                        name="password" placeholder="Пароль" />
                    @*<div class="errors" style="color: red"></div>*@
                    <span asp-validation-for="Password"></span>

                    <input asp-for="ConfirmPassword" class="pas"
                        name="passwordConfirmation" placeholder="Подтвердите пароль" />
                    @*<div class="errors" style="color: red"></div>*@
                    <span asp-validation-for="ConfirmPassword"></span>
@*                    <span asp-validation-for="ConfirmPassword">Пароли не совпадают</span>
*@
                    <input type="submit" value="Регистрация" id="but" />
                </div>
                @*                <div class="under-input">

                <a asp-controller="Auth" asp-action="Login">Войти</a>
                </div>*@
            </form>
            <a asp-controller="Auth" asp-action="Login"> <p>Войти</p></a>
        </div>
    </div>
</div>

<script src="~/js/RegisterValidation.js"></script>

@*<textarea asp-for="UserName">
</textarea>
*@