
<!--ТУТ ВСЕ ОК-->

<!--model IEnumerable<Post> - получаем на вход все записи из таблицы-->

@*@model IndexViewModel*@


<!--получаем на вход коллекцию объектов Post -->
@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "В этом блоге вы найдете то что нужно";
    ViewBag.Keywords = "Blog Programing Travel Photograpy";
    var base_path = Context.Request.PathBase;
}

<link href="~/css/Home.css" rel="stylesheet" />

<div class="main-img">
    <span class="title">Огонь</span>

    @*<img src="~/_content/static/pushka.webp" alt="" />*@

    @*Вызовется метод Index с тремя параметрами (при отправке формы), тк мы установили их передачу в полях input*@
@*    <form asp-controller="Home" asp-action="Index" method="get">
        <button class="submit-btn">Поиск</button>
    </form>*@

</div>