@page
@model IEnumerable<HeaderPostViewModel>
@{
}
<div class="admin-panel" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<h1>Панель администратора</h1>

@{
    //await Html.RenderPartialAsync("PostsList", Model);
        await Html.RenderPartialAsync("PostsList");
}
</div>