
/*font-family: "Roboto","Arial",sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;*/

.post {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

/*    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;*/
}


/*Секция с главным изображением поста*/
.main-image { /*Блок главного фото поста*/
    position: relative;
    width: 100%;
    height: 655px;
    background-position: center;
    background-size: cover;
}

    .main-image img {
        width: 100%;
        height: 100%;
    }

    .main-image .title {
        color: white;
        font-size: 40px;
        text-shadow: 0 0 8px black;
        margin-bottom: 1rem;
    }

.title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    color: white;
    /*font-size: 40px;*/
    text-shadow: 0 0 8px black;
    margin-bottom: 1rem;
}

/*Секция с основным текстом поста*/
.post .text-section {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#comments-title {
    margin-top: 40px;
    padding-bottom: 10px;
}
/*Секция с комментариями*/
.comments-section {
    /*border-top: 1px solid #ccc;*/
    width: 100%;
    overflow: hidden;
    margin: 20px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

/*    position: relative;
    z-index: 1;*/

    /*margin-top: 50px;*/
}

    .comments-section .comment {
        width: 50%;
        min-height: 100px;
        max-height: 400px;
        margin-top: 20px;

/*        position: relative;
        z-index: 2;*/
    }


.comment label { /*Шапка комментария с именем автора и датой публикации*/
    font: bold 17px 'Roboto';
    display: block;
    width: 200px;
    height: 30px;
}

    .comment label #creationTime {
        color: gray;
        
        font-size: 13px;
        width: 100px;
        height: 30px;
/*        font: 13px 'Roboto';
        font-weight: 600;*/
    }

.comment .moreText { /*Блок, содержащий оставшуюся часть комментария*/
    display: none;
}

.comment .readMoreBut { /*Кнопка "Читать далее"*/
    color: white;
}

    .comment .readMoreBut:hover {
        color: #13ea79;
        cursor: pointer;
    }


.sendComment {
    width: 1080px;
}

.sendComment:not(:first-of-type) {
    /*    width: 300px;
    height: 300px;*/
    display: none;
    /*width: 1080px;*/
}

/*#sendCommentWrapper {
    display: block;
}*/
    /*#like {
    fill: white;
}*/
    /*.material-symbols-outlined {*/ /*Иконки лайка и дизлайка*/
    /*    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
*/ /*fill: white;
    width: 25px;
    height: 25px;
}*/
    /*.material-symbols-rounded {*/ /*Иконки лайка и дизлайка*/
    /*fill: white;
    width: 25px;
    height: 25px;
}*/
    /*.material-symbols-rounded:active {*/ /*Иконки лайка и дизлайка*/
    /*font-variation-settings: 'FILL' 1
    }*/
    .material-symbols-rounded {
        font-variation-settings: 'FILL' 0
    }
    .material-symbols-rounded:hover {
        background-color: #ffffff22;
    }
/*.material-symbols-rounded {
    font-variation-settings: 'FILL' 1
}*/


.undercomment-buttons {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    margin-left: 20px;
}

/*    .undercomment-buttons #like, #dislike {
        color: 
    }*/

    .undercomment-buttons #like, #dislike, #answer {
        flex: 1 1 auto;
        margin: 5px;
        cursor: pointer;
        color: white;
        border: none;
    }

        .undercomment-buttons #like, #dislike {
            padding: 6px;
            border-radius: 50%;
        }

    .undercomment-buttons #answer {
        /*font-size: 12px;*/
        line-height: 32px;
        width: 80px;
        /*padding: 5px;*/
        padding: 3px 12px;
        border-radius: 30px;
    }

        .undercomment-buttons #answer:hover {
            /*background-color: #ccccccba;*/
            background-color:#ffffff22;
        }


/*----------------------------------------------------- MainComment.css*/

/*    .undercomment-buttons #like img {
        filter: w;
    }*/
.my-svg-alternate {
    display: none;
}

.no-svg .my-svg-alternate {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(~/_content/static/like.png);
}

.show-answers-but { /*Кнопка для показа ответов на комментарий*/
    color: white;
    cursor: pointer;
    /*margin-top: 10px;*/
    padding: 12px 5px 10px 0;
    /*font: 14px 'Roboto';*/ /*ШРИФТ*/
    font: 14px sans-serif;
    /*    font-size: 14px;*/
    font-weight: 600;
    width: 110px;
    /*    text-align: center;
    align-content: center;*/
    border: none;
    outline: none;
    display: inline;
    transition: 0.1s;
    background-color: #1a1b1a;
    /*border-radius: 10px;*/
    border-radius: 20px;
}

    .show-answers-but:hover {
        background-color: #189b67;
    }

    .show-answers-but:after {
        content: '\25BC';
        font-size: 10px;
        padding-top: 3px;
        float: left;
        margin-left: 10px;
    }

.active:after {
    content: '\25B2';
}

.subcomment { /*Блок подкомментария*/
    width: 50%;
    min-height: 100px;
    /*max-height: 400px;*/
    margin-top: 20px;
    margin-left: 30px;
    display: none;
    padding: 0 18px;
    /*background-color: black;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font: 16px sans-serif; /*ШРИФТ*/
    /*font-weight: 200;*/
    min-width: 600px;
    max-width: 700px;
    overflow-wrap: break-word;
    margin-top: 10px;

/*    position: relative;
    z-index: 3;*/
}

.subcomment p {
    margin-top: 10px;
}







/*font-family: "Roboto","Arial",sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;*/

.comments-title {
    margin-top: 20px;
    font: bold;
    width: 300px;
    /*position: relative;*/
    /*    font: 35px 'Roboto';
    font-weight: 700;*/
}

.send-comment {
    width: 100%;
    /*    display: block;
*/
    flex: 0 0 auto;
    /*height: 300px;*/
    /*max-height: 1000px;*/
    overflow: hidden;
    
/*    position: relative;
    z-index: 4;*/
    /*padding-top: 20px;*/
    /*z-index: 98;*/
    /*position: relative;*/
}

form {
    width: 70%;
    overflow: hidden;
    /*padding-top: 40px;*/
    padding-top: 20px;
    /*z-index: 99;*/
    /*max-height: 1000px;*/

    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    /*justify-content: flex-start;*/
    margin-bottom: 20px;

/*    position: relative;
    z-index: 5;*/
}

.input-wrapper {
    width: 80%;
    /*align-self: start;*/
}

.button-wrapper {
    /*height: 300px;*/
    /*z-index: 100;*/
    /*transform: translateX(-20%);*/
    /*align-self: end;*/
    /*position: absolute;*/
    /*position: absolute;*/


    position: absolute;

    left: 70%;

    /*z-index: 100;*/
    width: 200px;
    /*align-self: end;*/
    /*z-index: 1000;*/
    /*margin-top: -100px;*/
    /*margin-top: -100px;*/
}

.send-comment form #send-comment-but {
    /*transform: translateX(66%);*/
    /*align-self: end;*/
    /*margin-top: 10px;*/
    /*margin-right: 0;*/
    padding: 9px;
    width: 120px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background-color: #1a1b1a;
    color: white;
    border: 1px solid #13ea79;
    border-radius: 10px;


    /*position: absolute;*/
}

form textarea {
    resize: none;
    overflow: hidden;
    min-height: 30px;
    height: 30px;
    max-height: 500px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #111211;
    color: white;
    font-size: 19px;
    font-weight: 400;
}

    form textarea:focus {
        outline: none;
    }

    form textarea::-webkit-input-placeholder {
        color: white;
        font-size: 14px;
    }

    form textarea:focus::-webkit-input-placeholder {
        color: transparent;
    }


.popup {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* The actual popup */
    .popup .popuptext {
        /*transform: translateY(-110%);*/
        visibility: hidden;
        display: none;
        /*position: relative;*/
        /*z-index: 999;*/
        /*        position: relative;
        z-index: 100;*/
        /*position: absolute;*/


        /*position: absolute;*/

        /*z-index: 100;*/
        width: 200px;
        height: 90px;
        text-align: center;
        padding: 8px 0;
        /*margin-bottom: 40px;*/
        /*        position: absolute;
        z-index: 1;*/
        /*        left: 59.7%;
        top: 125%;*/
        background-color: #1a1b1a;
        color: white;
        border: 1px solid #13ea79;
        border-radius: 10px;
        /*margin-bottom: 100px;*/
    }

/*.button-wrapper .popuptext {
    position: absolute;
    z-index: 1;
    left: 59.7%;
    top: 125%;
}*/

/*.comment .popuptext {
    display: none;
    position: relative;
    z-index: 999;*/
/*    margin-left: -4%;
    margin-top: 10px;*/
    /*top: 50%;*/
    /*    left: 5%;
    bottom: -153%;*/
/*}*/

.popuptext p {
    /*padding: 0;*/
    margin: 5px 5px 10px 5px;
}

.popuptext a {
    /*    padding-top: 30px;
    margin-top: 30px;*/
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

    .popuptext a:hover {
        /*color: #1aa95d;*/
        /*color: #189b67;*/
        color: #13ea79;
    }
/* Popup arrow */
/*.button-wrapper .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;*/
    /*            width: 400px;
            height: 500px;*/
    /*margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    /*position: relative;*/
    display: block;

/*    position: relative;
    z-index: 80;*/
    /*    z-index: 4;
    display: block;*/
}



/*.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: block;
}*/

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}