html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #111211;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: white;
    text-decoration: none; /*ссылка как обычный текст по умолчанию*/
}

/* При наведении на тег a (ссылку) она подчеркивается*/
a:hover {
    text-decoration:underline;
}

nav {
    background-color: #142127;
    height: 50px;
    width: 100%;
    text-align:center;

}

    /*nav a {
        display: inline-block;
        padding: 15px;*/
        /*text-decoration: none;*/
    /*}*/


    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        text-decoration: none;
        outline: none;

        /*transition: .1s ease-in-out; *//*Плавная анимация?*/
    }

/*.topmenu {
    backface-visibility: hidden;
    background: rgba(255,255,255,.8);
}*/

    .topmenu > li {
        display: inline-block;
        position: relative;
    }

        .topmenu > li > a {
            /*font-family: 'Exo 2', sans-serif;*/
            height: 50px;
            line-height: 50px;
            /*padding: 0 30px;*/
            width: 180px;
            font-weight: 500;
            color: white;
            /*text-transform: uppercase;*/ /*текст будет в верхнем регистре*/
        }

.down:after {
    /*content: "\f107";*/
    margin-left: 8px;
    /*font-family: FontAwesome;*/
}

.topmenu li a:hover {
    /*color: #E6855F;*/
    text-decoration: none;
    background-color: #444444;
}

.submenu {
    /*background: white;*/
    /*border: 2px solid #003559;*/
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 180px;
    /*transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;*/
}

.topmenu > li:hover .submenu {
    visibility: visible;

    opacity: 1;
    /*transform: perspective(600px) rotateX(0deg);*/
}

.submenu li a {
    /*color: #7f7f7f;*/
    background-color: #142127;
    color: white;
    font-size: 15px;
    line-height: 50px;
    padding: 0 25px;
    /*font-family: 'Kurale', serif;*/
}
    .submenu li a:hover {
        background-color: #444444;
    }

/*     li:hover, a:hover {
        background-color: #444444;
    }
*/

.main-img {
    position: relative;
    height: 500px;
    background-image: url(../_content/static/pushka.webp);
    background-position: center;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-img .title {
    color: white;
    font-size: 40px;
    text-shadow: 0 0 8px black;
    margin-bottom: 1rem;
}

.title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    color: white;
    font-size: 40px;
    text-shadow: 0 0 8px black;
    margin-bottom: 1rem;
}

.search {
    color: #000;
    background-color: transparent;
    border: none;
    outline: none;
    color: pink;
    font-size: 18px;
    border-bottom: 2px solid pink;
}

.submit-btn {
    display: none;
}

.search::placeholder {
    color: pink;
}

/*Для экранов мобильных телефонов (если экран < 768px) появится кнопка Поиск*/
@media screen and (max-width: 768px) {
    .submit-btn {
        display: inline-block;
    }
}

.container {
    max-width:800px;
    width: 100%;
    margin:auto;
}

.post {
    margin:5px;
    position: relative;
    display: flex; /*фото сможет менять свой размер*/
    height: 400px;
    box-shadow: 0 0 5px 0 black;
}

.post img {
    width:100%;
    object-fit:cover; /*заголовки фото будут подстраиваться под его размер*/
}

    .post .title {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translateX(-50%);
        color: white;
        font-size: 40px;
        text-shadow: 0 0 8px black;
        margin-bottom: 1rem;
    }

.post-body {
    margin: -5px 5px 0;
    background-color: white;
    padding: 20px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.no-shadow {
    box-shadow:none;
}

.pages {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}
    .pages a {
        /*background-color: #189b67;*/
        color: white;
        border-radius: 50%;
        border: 1px solid #eee;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        line-height: 50px;
        width: 50px;
        margin: 2px;
        font-weight: 600;
        font-size: 20px;
    }

    /*Вариант с квадратными кнопками*/

        .pages a.active {
            background-color: #189b67;
            /*background-color: #3ae9a3;*/
            color: whitesmoke;
        }
        .pages a:hover {
            /*text-shadow: 0 0 8px black;*/
            background-color:#1a7450;
            text-decoration: none;
        }




/* Применяем при наведении на ссылку*/
/*
pages a:hover {
    background-color: #34ca8e;
    text-decoration: none;
}*/

                                            /*Login.cshtml*/

/*.sign-in-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-form div {
    max-width: 200px;
    width: 100%;
    margin-bottom: 1rem;
}*/

